.lesson1__section1-inner {
    margin-bottom: 30px;
    padding: 20px;
}

.lesson1__section1-title,
.audio {
    text-align: center;
}

.video {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.lesson1__section1-title {
    font-size: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 23px;
}

.input__inner {
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input__item {
    margin-bottom: 20px;
    margin-top: 20px;
}

.irochka,
.city {
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 18px;
}

.plus-minus,
.plus-minus2 {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-left: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 5px;
}

.circle-true,
.circle-false {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 27px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.circle-true {
    background: green;
}

.circle-false {
    background: red;
}

.plus-true,
.plus-false {
    width: 20px;
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

.plus-true {
    background: green;
}

.plus-false {
    background: red;
}

/** udareniye */
.udareniye {
    position: relative;
}

.udareniye::before {
    content: "'";
    display: block;
    position: absolute;
    left: 2px;
    top: -12px;
    width: 10px;
    height: 10px;
}

/**itogo */
.section1__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section1__finall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.section1__itog {
    background: rgb(41 148 244 );
    margin-right: 30px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;

    transition: color .2s linear, border-radius 0.2s linear;
}

.section1__itog:hover {
    color: #000;
    border-radius: 5px;
}

.section1__itog3 {
    text-decoration: none;
}

.input__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section1__finall2 {
    font-size: 20px;
    line-height: 25px;
}

.itogo1, .itogo2, .itogo3 {
    font-weight: bold;
    margin-left: 7px;
    margin-right: 7px;
}

/** audio */
audio {
    background: #f1f3f4;
}

audio:focus {
    outline: none;
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}